<div id="createNewUserFormContainer">
    <form name="createNewUser">
        <div class="form-group">
            <label>First Name</label>
            <input class="form-control" name="firstname" type="text" [(ngModel)]="newUser.firstName">
            <label>Last Name</label>
            <input class="form-control" name="lastname" type="text" [(ngModel)]="newUser.lastName">
            <label>Username</label>
            <input class="form-control" name="username" type="text" [(ngModel)]="newUser.username">
            <label>Email</label>
            <input class="form-control" name="email" type="text" [(ngModel)]="newUser.email">
            <label>Profile Picture</label>
            <input class="form-control" name="profilePic" type="text" [(ngModel)]="newUser.profilePicture">
            <label>Bib</label>
            <input class="form-control" name="bib" type="text" [(ngModel)]="newUser.biography">
            <label>Password</label>
            <input class="form-control" name="password" type="text" [(ngModel)]="newUser.password">
        </div>
    </form>
</div>