<div id="dashboard-container-main">

    <!-- <div class="shadow p-3 mb-5 bg-white rounded" id="portfolio-container-wrapper"> -->
    <div class="shadow bg-white rounded border" id="portfolio-container-wrapper">
        <mat-card-header class="card-header border">
            <mat-card-title>Miguel Barrios</mat-card-title>
        </mat-card-header>
        <mat-card class="border-top-0 card-body">
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam quae, deserunt nostrum dolore ad minima! Soluta deserunt error excepturi quasi perferendis illum quisquam, labore blanditiis consequatur, sequi quibusdam? Exercitationem, minus.
        </mat-card>
    </div>

    <!-- Stocks Container -->
    <div class="shadow bg-white rounded border" >
        <mat-card-header class="card-header border">
            <mat-card-title>Stocks</mat-card-title>
        </mat-card-header>


        <mat-card class="border-top-0 card-body">
            <div class="stock-position">
                <div class="ticker-symbol"><strong>VUG</strong></div>
                <div class="ticker-symbol">132 shares</div>
                <div class="return-display">$983.32</div>
            </div>
        </mat-card>

        <mat-card class="border-top-0 card-body">
            <div class="stock-position">
                <div class="ticker-symbol"><strong>VUGT</strong></div>
                <div class="ticker-symbol">132 shares</div>
                <div class="return-display">$983.32</div>
            </div>
        </mat-card>

    </div>

</div>