<p>user-update-form works!</p>



<div class="border">
  <div class="form-group col">
    <label for="exampleInputPassword1">Symbol</label>
    <input type="text" class="form-control" name="symbol" [(ngModel)]="user.username">
    <label for="exampleInputPassword1">Symbol</label>
    <input type="text" class="form-control" name="symbol" [(ngModel)]="user.username">
    <label for="exampleInputPassword1">Symbol</label>
    <input type="text" class="form-control" name="symbol" [(ngModel)]="user.username">
    <label for="exampleInputPassword1">Symbol</label>
    <input type="text" class="form-control" name="symbol" [(ngModel)]="user.username">
  </div>
  <button (click)="updateUser"></button>
</div>
