#topMoversContainer {
    display: flex;
    flex-direction: row;
}

#SRows:hover {
    background-color: darkgray;
}


/* input {
    width: 100%;
} */

.table {
    height: 200px;
}

#moversContainerMain {
    margin-left: 240px;
}
