
/* .split {
margin: 40px;
position: absolute;
  z-index: 1;
  top: 10;
  overflow-x: hidden;
} */

.wrapper {
  max-height: 1080px;
}
.splitLeft {

    left: 0;

    width: 40%;
    font-size: xx-large;
    color: black;

}

.splitRight {

    right: 0;

    width: 45%;
    color: black;
    font-size: xx-large;

}

#headm {
    color: black;
}

#SRows:hover {
    background-color: darkgray;
}

input {
    width: 100%;
}
