 <div class = "wrapper">
 <div>

 <div *ngIf="movers.length >1" class = "splitLeft">
    <table class="table border table-borderless">
      <thead id = headm>
        <tr class="border">
          <th scope="col">Change</th>
          <th scope="col">Last Price</th>
          <th scope="col">Symbol</th>
          <th scope="col">Volume</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of movers" [ngClass]="checkTrend(item)">
          <td>{{item.change | number: '1.2-2'}}</td>
          <td>{{item.last}}</td>
          <td>{{item.symbol}}</td>
          <td>{{item.totalVolume}}</td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class = "splitRight">
    <input type="text" id="search" name="searchInput"  [(ngModel)]="searchValue" >
<table id ="stable">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Name</th>

    </tr>
  </thead>

    <tr  id = "SRows" *ngFor="let stock of stocks | filterTable: searchValue"  (click)="onClickRow(stock.symbol)" >
      <td>{{stock.symbol}}</td>
      <td>{{stock.name}}</td>

    </tr>

</table>
  </div>

</div>
</div>
