#tradePageContainer{
    display: flex;
    flex-direction: row;
}

#positionInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#userPositionInfo {
    padding: 20px;
}

#stockStatsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(179, 178, 178, 0.174);
}

#stockQuoteInfo,
#stockStats,
#stockStats2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#stockStatsContainer {
    padding: 20px;
}


#searchBox {
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    flex-direction: row;
}

#pageContent {
    padding-bottom: 80px;
}

#SingleStockViewPageContainer {
    padding-top: 10px;
}
#searchBoxHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#searchBoxHeader {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.flash {
    text-shadow: 5px 5px 10px #53ce53;
}



@media only screen and (min-width:0px) { 

    #tradePageContainer h5{
        font-size: small;
        font-weight: bold;
    }
    
    #tradePageContainer h6{
        font-size: small;
    }


    #tradePageContainer, #pageContent {
        padding: 0px;
        margin: 0%;
    }

    #searchBoxHeader {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #tradePageContainer, #pageContent {
        width: 100%;
    }


}
@media only screen and (min-width:576px) { 

    #searchBoxHeader{
        padding-top: 20px;
    }

    #tradePageContainer h5{
        font-size: medium;
    }

}

@media only screen and (min-width:768px) { 

    #tradePageContainer h5{
        font-size: larger;
    }



}

@media only screen and (min-width:992px) {
    #tradePageContainer h5{
        font-size: larger;
    }



 }

@media only screen and (min-width:1200px) { 

}

@media only screen and (min-width:1400px) { }