<div id="pageContainer" class="container-fluid">

    <div class="row">
        <div class="pt-4">
            <form class="example-form w-100">
                <mat-form-field  appearance="fill" class="w-100">
                  <mat-label>ticker</mat-label>
                  <input  matInput [(ngModel)]="searchQuery" name="searchQuery" type="text" placeholder="Pick one" [(ngModel)]="searchQuery">
                    <mat-option *ngFor="let stock of stocks | stockFilter:searchQuery" (click)="selectOption(stock)">
                      {{stock.symbol}}
                    </mat-option>
                </mat-form-field>
              </form>
        </div>
    </div>



    <div class="row" *ngIf="selected">
        <!-- Positions -->
        <div class="col-lg-6">
          <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">{{selected.name}}</h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <h4>ticker: {{selected.symbol}}</h4>
            <h4>sector: {{selected.sector}}</h4>
            <div class="d-flex justify-content-center">
                <button class="btn btn-warning w-100" (click)="loadSelected()">trade</button>
            </div>
            
          </div>
          </div>
    </div>
 
</div>

