<div class="">
  <div class="form-group col">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" [(ngModel)]="user.username">
    <br>
    <label for="fistname">First Name</label>
    <input type="text" class="form-control" name="fistname" [(ngModel)]="user.firstName">
    <br>
    <label for="exampleInputPassword1">Last Name</label>
    <input type="text" class="form-control" name="symbol" [(ngModel)]="user.lastName">
    <br>
    <label for="email">Email</label>
    <input type="text" class="form-control" name="email" [(ngModel)]="user.email">
    <br>
    <label for="biography">Biography</label>
    <textarea class="form-control" id="form6Example7" rows="4" [(ngModel)]="user.biography"></textarea>
  </div>
</div>
