<div>

</div>
<table class="table border table-borderless">
    <thead>
        <tr class="border">
            <th scope="col">Change</th>
            <th scope="col">Last Price</th>
            <th scope="col">Symbol</th>
            <th scope="col">Volume</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of movers" [ngClass]="checkTrend(item)">
            <td>{{item.change | number: '1.2-2'}}</td>
            <td>{{item.last}}</td>
            <td>{{item.symbol}}</td>
            <td>{{item.totalVolume}}</td>
        </tr>
    </tbody>
</table>
