<header>
    <app-logged-in-nav></app-logged-in-nav>
</header>

<h1 id="page-header">Congratulations to the current leaders!</h1>


<div id="leaderboardOuter">

    <div id="leaderboardContainer">

        <div class="card" style="width: 25rem;" *ngFor="let item of rankings | leaderboard:5">
            <div class="card-body">
                <div>
                    <img src="{{item.profilePicture}}" width="50" height="50">

                </div>
                <div>
                    @{{item.username}}
                    <div>
                        {{item.firstname}} {{item.lastname}}
                    </div>
                </div>

                <div class="stockReturns">
                    <div>
                        Shares: {{item.totalNumberOfShares}}
                    </div>
                    <div>
                        Return: {{item.portfolioValue | number:"1.2-2"}}
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>



<!-- <mat-grid-list gutterSize="10px" cols="3">
    <div *ngFor="let user of leaders">

      <mat-grid-tile *ngIf="user.username != null" colspan="1" rowspan="1">
        <mat-card id="card" flex="40" flex-sm="80">
          <mat-card-header>
            <mat-card-title>
              <h1>{{user.username}} </h1>
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <h3>
              <h2>{{user.firstName}}'s Positions:</h2>
            </h3>
          <div *ngFor="let position of user.positions">
            <h3>{{position.symbol}} value: {{position.value}}</h3>
          </div>

        </mat-card-content>

      </mat-card>
    </mat-grid-tile>
  </div>
</mat-grid-list> -->
