/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
body {
    background-color: rgb(30, 30, 43);
}

.trendingUp {
    color: rgb(35, 213, 180);
}

.trendingDown {
    color: rgb(233, 40, 31);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
