#Header {
    color: black;
}

#accountHomeContainerMain{
    display: flex;
    flex-direction: row;
}

.team-member {
    margin-bottom: 3rem;
    text-align: center;
}

.team-member img {
    width: 14rem;
    height: 14rem;
}

.team-member .h4 {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

#accountValue {
    margin-bottom: 10px;
}

#portfolioChartContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#accountHomeContainerUpper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


