

    <!--Main Navigation-->
    <div id="accountHomeContainerMain">

        <div id="accountHomeContainerContent" class="container-fluid">

            <div id="accountHomeTopContainer">
                <div>
                    <div id="accountHomeContainerUpper">
                        <div id="accountHomeContainerUpperRight">
                            <div class="col">
                                <div class="team-member">
                                    
                                    <img *ngIf="user.profilePicture" class="mx-auto rounded-circle" src="{{user.profilePicture}}" alt="assets/img/profilePic.png" />
                                    <img *ngIf="!user.profilePicture" class="mx-auto rounded-circle" src="assets/img/profilePic.png" alt="assets/img/profilePic.png"/>
                                    <h4 class="pt-3">{{user.firstName +' '+ user.lastName}}</h4>
                                    <p class="text-muted">Member Since: {{user.createdAt | date}} <br> Account Type: {{user.role | uppercase}}
                                        <br> Bio: {{user.biography}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="portChartContainer">

                    <app-portfolio-chart></app-portfolio-chart>
                </div>
    
            </div>






            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Stocks"> 
                    <div id="portfolioStats">
                        <div>
                            <p>Portfolio: {{portfolioCurrentValue + accountBalance | currency}}</p>
                        </div>
                        <div>
                            <p>Cash: {{accountBalance | currency}}</p>
     
                        </div>
                        <div>
                            <p>Stocks: {{portfolioCurrentValue | currency}}</p>
                        </div>
                        <div>
                            <p [ngClass]="{'trendingUp': (portfolioCurrentValue + accountBalance) - accountDeposits > 0, 'trendingDown' : (portfolioCurrentValue + accountBalance) - accountDeposits < 0 }">
                                Return: {{(portfolioCurrentValue + accountBalance) - accountDeposits | currency}}
                            </p>
                        </div>

                    </div>

                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" >Symbol</th>
                                <th scope="col">Shares</th>
                                <th scope="col">Avg Price</th>
                                <th scope="col">Return</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pos of userPositions">
                                <th scope="row">{{pos.symbol}}</th>
                                <td>{{pos.numberOfShares}}</td>
                                <td>{{pos.avgCostPerShare}}</td>
                                <td [ngClass]="{'trendingDown': (pos.numberOfShares*pos.lastPrice - pos.numberOfShares*pos.avgCostPerShare) <= 0, 'trendingUp' : (pos.numberOfShares*pos.lastPrice - pos.numberOfShares*pos.avgCostPerShare) > 0 }"
                                >
                                    {{(pos.numberOfShares*pos.lastPrice - pos.numberOfShares*pos.avgCostPerShare) | currency}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
    
                </mat-tab>
                <mat-tab label="Trade History"> 
                    <div id="userTrades">
                        <div class="container-fluid">
                            <table class="table table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col" >Symbol</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Action</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Price Per Share</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let trade of trades">
                                        <th scope="row">{{trade.stock.symbol}}</th>
                                        <td>{{trade.orderType.name }}</td>
                                        <td>{{trade.buy | buySell}}</td>
                                        <td>{{trade.createdAt | date}}</td>
                                        <td>{{trade.pricePerShare | currency}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>     
                </mat-tab>
                <mat-tab label="Profile"><app-settings></app-settings> </mat-tab>


            </mat-tab-group>
    

        </div>
        
    </div>
        


