<div class="container-fluid">

    <div class="row mb-4">
      <div class="profile-nav ">
        <!-- HERE -->
        <div class="panel">
          <div class="user-heading round">
            <a href="#">
              <img *ngIf="user.profilePicture" src="{{user.profilePicture}}" alt="assets/img/profilePic.png" />
              <img *ngIf="!user.profilePicture" src="assets/img/profilePic.png" alt="assets/img/profilePic.png" />
            </a>
            <h1 class="large text-uppercase">{{user.firstName +' '+ user.lastName}}</h1>
            <h3 class="small text-uppercase">Member Since: {{user.createdAt | date}}</h3>
            <p>{{user.biography}}</p>
            <button class="btn btn-light">update</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">
      <!-- Portfolio Value -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"> Portfolio Value</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{portfolioCurrentValue + accountBalance | currency}}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Purchasing Power -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Purchasing Power</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800"> {{accountBalance | currency}}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Total Invested Value -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Invested Value </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800"> {{portfolioCurrentValue | currency}}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- PROTFOLIO VALUE CONTAINER -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">RETURN</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  <p [ngClass]="{'trendingUp': (portfolioCurrentValue + accountBalance) - accountDeposits > 0, 'trendingDown' : (portfolioCurrentValue + accountBalance) - accountDeposits < 0 }">
                    {{(portfolioCurrentValue + accountBalance) - accountDeposits | currency}}
                  </p>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Content Row -->
      <div class="row">
        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Portfolio</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="chart-pie pt-4 pb-2">
                <div class="chartjs-size-monitor">
                  <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                  </div>
                  <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                  </div>
                </div>
                <app-portfolio-chart></app-portfolio-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Positions -->
        <div class="col-xl-8 col-lg-7">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Positions</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Avg Price</th>
                    <th scope="col">Return</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pos of userPositions">
                    <th scope="row">{{pos.symbol}}</th>
                    <td>{{pos.numberOfShares}}</td>
                    <td>{{pos.avgCostPerShare | currency}}</td>
                    <td [ngClass]="{'trendingDown': (pos.numberOfShares*pos.lastPrice - pos.numberOfShares*pos.avgCostPerShare) <= 0, 'trendingUp' : (pos.numberOfShares*pos.lastPrice - pos.numberOfShares*pos.avgCostPerShare) > 0 }">
                      {{(pos.numberOfShares*pos.lastPrice - pos.numberOfShares*pos.avgCostPerShare) | currency}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Trade History -->
        <div class="col-xl-8 col-lg-7">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Trade History</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                
                <div class="table-responsive table-responsive-sm">
                    <table class="table table-sm table-hover">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Symbol</th>
                            <th scope="col">Type</th>
                            <th scope="col">Shares</th>
                            <th scope="col">Date</th>
                            <th scope="col">Avg Cost</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let trade of trades">
                            <th scope="row">{{trade.stock.symbol}}</th>
                            <td>{{trade.buy | buySell}}</td>
                            <td>{{trade.quantity}}</td>
                            <td>{{trade.createdAt | date:'L-dd'}}</td>
                            <td>{{trade.pricePerShare | currency}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>




            </div>
          </div>
        </div>
      </div>