<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" href="#" [routerLink]="['/home']">
        <img src="assets/img/logos/dailytrainer.svg" height="18" alt="MDB Logo" loading="lazy" style="margin-top: -1px;" />
      </a>
      <!-- Toggle button -->
      <div ngbDropdown class="d-inline-block" display="dynamic">
        <button class="btn btn-outline-primary navbar-toggler" type="button" id="dropdownMenuButton" ngbDropdownToggle><i class="fa fa-bars"></i></button>
        <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
          <div *ngIf="!loggedin">
            <button ngbDropdownItem (click)="open(loginModal)">Login</button>
            <button ngbDropdownItem (click)="open(registerModal)">Sign Up</button>
          </div>
          <div *ngIf="loggedin">
            <a class="nav-link" [routerLink]="['/home']">Home</a>
            <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
            <a class="nav-link" [routerLink]="['/leaderBoard']" tabindex="-1" aria-disabled="true">Leader Board</a>
            <a class="nav-link" [routerLink]="['/singleStockView/ORCL']" tabindex="-1" aria-disabled="true">Trade</a>
            <a class="nav-link" [routerLink]="['/topMovers']" tabindex="-1" aria-disabled="true">Top Movers</a>
          </div>

        </div>
      </div>
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul *ngIf="loggedIn" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="loggedin">
            <a class="nav-link" [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item" *ngIf="loggedin">
            <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
          </li>
          <li class="nav-item" *ngIf="loggedin">
            <a class="nav-link" [routerLink]="['/topMovers']" tabindex="-1" aria-disabled="true">Top Movers</a>
          </li>
          <li class="nav-item" *ngIf="loggedin">
            <a class="nav-link" [routerLink]="['/leaderBoard']" tabindex="-1" aria-disabled="true">Leader Board</a>
          </li>
          <li class="nav-item" *ngIf="loggedin">
            <a class="nav-link" [routerLink]="['/singleStockView/ORCL']" tabindex="-1" aria-disabled="true">Trade</a>
          </li>
        </ul>
        <!-- Left links -->
        <div class="d-flex align-items-center ms-auto">
          <button *ngIf="!loggedin" type="button" class="btn btn-warning px-3 me-2" (click)="open(loginModal)"> Login </button>
          <button *ngIf="!loggedin" type="button" class="btn btn-warning me-3" (click)="open(registerModal)"> Sign up </button>
          <div *ngIf="loggedin">
            <button type="button" class="btn btn-warning me-3" (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Login Modal -->
  <ng-template #loginModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Login</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form name="updateEvent">
        <div class="mb-3">
          <label>Username</label>
          <input class="form-control" name="username" type="text" [(ngModel)]="loginUser.username">
          <label>Password</label>
          <input class="form-control" name="password" type="password" [(ngModel)]="loginUser.password">
        </div>
        <label *ngIf="loginError" class="text-danger">Invalid login</label>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-success" (click)="login(loginUser)">Login</button>
    </div>
  </ng-template>
  <!-- Register Modal -->
  <ng-template #registerModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Register</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <label>First Name</label>
      <input class="form-control" name="firstname" type="text" [(ngModel)]="newUser.firstName">
      <label>Last Name</label>
      <input class="form-control" name="lastname" type="text" [(ngModel)]="newUser.lastName">
      <label>Username</label>
      <input class="form-control" name="username" type="text" [(ngModel)]="newUser.username">
      <label>Email</label>
      <input class="form-control" name="email" type="text" [(ngModel)]="newUser.email">
      <label>Profile Picture</label>
      <input class="form-control" name="profilePic" type="text" [(ngModel)]="newUser.profilePicture">
      <label>Bio</label>
      <input class="form-control" name="bib" type="text" [(ngModel)]="newUser.biography">
      <label>Password</label>
      <input class="form-control" name="password" type="password" [(ngModel)]="newUser.password">
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-success" (click)="register(newUser); modal.dismiss()">Register</button>
    </div>
  </ng-template>