<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
  <div class="position-sticky">
    <div id="iconContainer">
      <a class="navbar-brand me-2" href="#" [routerLink]="['/home']">
        <img src="assets/img/logos/dailytrainer.svg" height="18" alt="MDB Logo" loading="lazy" style="margin-top: -1px;" />
      </a>
    </div>
    <div class="list-group list-group-flush mx-3 mt-4">
      <a href="#" [routerLink]="['/accounthome']" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
        <i class="fa fa-tachometer fa-fw me-3"></i>
        <span>Main dashboard</span>
      </a>
      <a href="#" [routerLink]="['/settings']" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fa fa-lock fa-fw me-3"></i>
        <span>Settings</span>
      </a>
      <a href="#" [routerLink]="['/feed']" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fa fa-commenting fa-fw me-3"></i>
        <span>Feed</span>
      </a>
      <a href="#" [routerLink]="['/topMovers']" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
        <i class="fa fa-level-up fa-fw me-3"></i>
        <span>Movers</span>
      </a>
      <a href="#" [routerLink]="['/singleStockView/ORCL']" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
        <i class="fa fa-exchange fa-fw me-3"></i>
        <span>Trade</span>
      </a>
      <a href="#" [routerLink]="['/leaderBoard']" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fa fa-globe fa-fw me-3"></i>
        <span>Leader Board</span>
      </a>
      <a *ngIf="isAdmin()" href="#" [routerLink]="['/users']" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fa fa-users fa-fw me-3"></i>
        <span>Users</span>
      </a>
      <a href="#" [routerLink]="['/friends']" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fa fa-address-book fa-fw me-3"></i>
        <span>Friends</span>
      </a>
      <a  href="#" class="list-group-item list-group-item-action py-2 ripple">
          <app-logout id="logoutBtnSidbar"></app-logout>
      </a>
    </div>
  </div>
</nav>

