#tradeContainer {
    color: black;
    padding: 10px;
}

#dataRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;
}

#sumbitTradeContainer {
    width: 10px;
}

.tableData {
    color: black;
}

#submitTradeContainer {
    display: flex;
    flex-direction: column;
}


