#tradeContainer {
    color: black;
    padding: 10px;
}

#row {
    display: flex;
    flex-direction: row;
}

#sumbitTradeContainer {
    display: flex;
}

#sumbitTradeContainer {
    width: 10px;
}

.tableData {
    color: black;
}

#positionInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#userPositionInfo {
    padding: 20px;
}