#tradeContainer {
    color: black;
    padding: 10px;
}

#row {
    display: flex;
    flex-direction: row;
}

#sumbitTradeContainer {}

#sumbitTradeContainer {
    width: 10px;
}

.tableData {
    color: black;
}

#submitTradeContainer {
    display: flex;
    flex-direction: column;
}
